KITE_BASE_URL=https://api.kite.trade

KITE_USER_ID=
KITE_API_KEY=
KITE_API_SECRET=

KITE_REQUEST_TOKEN=
KITE_ACCESS_TOKEN=
KITE_PUBLIC_TOKEN=

# Strategy config
TRADE_SYMBOL=RELIANCE
TRADE_EXCHANGE=NSE
TRADE_QUANTITY=1
TRADE_INTERVAL=5minute
RSI_PERIOD=14
